<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Subjects | Tulong-Turo</title>
</head>
<body>
  Add Subjects

  <form>
    <% for (let i = 0; i < subjects.length; i++) { %>
      <label><input <%= subjects[i].isSubscribed ? "checked" : "" %> type="checkbox" name="interests" value="<%= subjects[i].slug %>"> <%= subjects[i].title %></label><br>
    <% } %>
  </form>
</body>
</html>