<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Subjects | Tulong-Turo</title>
</head>
<body>
  Add Subjects

  <div>
    <% for (let i = 0; i < subjects.length; i++) { %>
      <label><input <%= subjects[i].isSubscribed ? "checked" : "" %> type="checkbox" name="topics" value="<%= subjects[i].slug %>"> <%= subjects[i].title %></label><br>
    <% } %>
    <button onclick="submit()">Update</button>
    </div>

  <script>
    async function submit() {
      const allCheckboxes = document.querySelectorAll('input[name="topics"]');

      const results = Array.from(allCheckboxes).map(checkbox => ({
        slug: checkbox.value,
        isSubscribed: checkbox.checked
      }));

       
    }
  </script>
</body>
</html>