@import "global.css";

.add__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
  margin-block: var(--spacing-3);
}

.add__title-card {
  font: var(--font-700);
  width: min(900px, 100% - 2rem);
  aspect-ratio: 3.5 / 1;
  border-radius: var(--rounded-sm);
  display: flex;
  align-items: flex-end;
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--clr-fg);
}

.add__subjects-list {
  width: min(900px, 100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
}

.add__subjects-list-item {
  width: 100%;
  height: 78px;
  border-radius: var(--rounded-sm);
  padding: var(--spacing-1);
  background: var(--clr-neutral);
}

.add__subjects-list-label {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.add__subject-icon-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
}

.add__subject-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add__subject-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.add__subject-status {
  font: var(--font-300);
  color: var(--clr-txt-dark);
}

.add__checkbox {
  width: 20px;
  aspect-ratio: 1;
  accent-color: var(--clr-txt-dark);
}

.add__update-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: var(--spacing-1);
  border-radius: var(--rounded-sm);
  font: var(--font-400);
  color: var(--clr-txt);
  background-color: var(--clr-fg);
  transition: background-color 0.3s ease;
}

.add__update-button:hover {
  background-color: var(--clr-neutral);
}
