@import "global.css";

.create__main {
  grid-area: main;
  margin-block: var(--spacing-3);
}

.create__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-1);
}

.create__title {
  font: var(--font-700);
  width: min(900px, 100% - 2rem);
  aspect-ratio: 3.5 / 1;
  border-radius: var(--rounded-sm);
  display: flex;
  align-items: flex-end;
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--clr-fg);
}

.create__field {
  position: relative;
  width: min(900px, 100% - 2rem);
}

.create__icon {
  position: absolute;
  left: 10px;
  top: 18px;
  font-size: var(--font-lg);
}

.create__input {
  width: 100%;
  background-color: var(--clr-neutral);
  border: none;
  padding: var(--spacing-1) 36px;
  border-radius: var(--rounded-sm);
}

.create__label {
  position: absolute;
  left: 36px;
  top: 16px;
  color: var(--clr-txt-dark);
  pointer-events: none;
  transition: 0.2s ease all;
}

.create__input:focus + label,
.create__input:not(:placeholder-shown) + label {
  top: -12px;
  font-size: var(--font-sm);
  color: var(--clr-txt);
  background: linear-gradient(var(--clr-bg), var(--clr-neutral));
}

.create__input:focus {
  outline: 2px solid var(--clr-txt);
}

.create__content-title {
  font: var(--font-700);
  color: var(--clr-txt);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-05);
  margin-top: var(--spacing-1);
}

.EasyMDEContainer .editor-toolbar {
  border: none;
  color: var(--clr-txt-dark);
  transition: color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-05);
}

.EasyMDEContainer .editor-toolbar > .separator {
  display: none;
}

.EasyMDEContainer .editor-toolbar > button:hover {
  color: var(--clr-txt);
  background: none;
  outline: 0;
  border: 0;
}

.EasyMDEContainer .CodeMirror {
  background-color: var(--clr-neutral);
  border: 0 !important;
  border-radius: var(--rounded-sm) !important;
  caret-color: var(--clr-txt);
  width: 100% !important;
  aspect-ratio: 4 / 3;
  margin-inline: auto;
}

.EasyMDEContainer .CodeMirror-scroll {
  color: var(--clr-txt);
}

.EasyMDEContainer .editor-statusbar {
  display: none;
}

.create__button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: 0.3s ease all;
  border-radius: var(--rounded-sm);
  padding: var(--spacing-1);
  background: var(--clr-fg);
}

.create__button:hover {
  background: var(--clr-neutral);
}
