@import "global.css";

.subject-title {
	font: var(--font-400);

	&:hover {
		text-decoration: underline;
	}
}

.back-link:hover .back-text {
	text-decoration: underline;
}

.lesson-main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: var(--spacing-1);
	padding-top: var(--spacing-3);
}

.lesson-title-card {
	font: var(--font-700);
	width: min(900px, 100% - 2rem);
	aspect-ratio: 3.5 / 1;
	border-radius: var(--rounded-sm);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: var(--spacing-1) var(--spacing-2);
	background-color: var(--clr-neutral);
}

.title-author-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: centeGr;
}

.back-link {
	font: var(--font-400);
	color: var(--clr-txt-dark);
	display: flex;
	justify-content: center;
	align-items: center;
}

.lesson-author {
	color: var(--clr-txt-dark);
	font: var(--font-400);
}

.floating-chat-bubble {
	position: fixed;
	bottom: 40px;
	right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-1);
}

.floating-chat-bubble:hover p {
	text-decoration: underline;
}

.chat-bubble {
	font-size: var(--font-xl);
}

.lesson-content {
	width: min(900px, 100% - 2rem);
}

.lesson-content > *:not(hr) {
	text-wrap: pretty;
	padding: var(--spacing-05) var(--spacing-1);
}

.lesson-content > hr {
	margin: var(--spacing-1-5);
}

.lesson-content > ul {
	list-style-type: disc;
	margin-left: var(--spacing-2);
}

.lesson-content > ol {
	margin-left: var(--spacing-2);
}

.lesson-content > h1 {
	font: var(--font-700);
	text-align: center;
}

.lesson-content > h2 {
	font: var(--font-500);
}

.lesson-content > h3 {
	font-weight: var(--font-bold);
	margin-top: var(--spacing-1);
	margin-bottom: -16px;
}

.lesson-content > pre {
	background-color: var(--clr-neutral);
	margin-inline: var(--spacing-1);
}
